@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
}

.activeLink {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
}

.inactiveLink {
  color: #4D4D4D;
  font-weight: 600;
  font-size: 16px;
}

.price {
  position: relative;
}

.price:after {
  content: "/day";
  font-size: 22px;
  position: absolute;
  top: 30px;
  right: 0;
  color: #161616;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
}

.luxury-btn {
  @apply max-w-[150px] bg-[#161616] text-[#FFEAD0] text-center font-semibold py-[8px] border-transparent rounded-[5px] cursor-pointer capitalize;
}

.simple-btn {
  @apply max-w-[150px] bg-[#E17654] text-[#FFEAD0] text-center font-semibold py-[8px] border-transparent rounded-[5px] cursor-pointer capitalize;
}

.rugged-btn {
  @apply max-w-[150px] bg-[#115E59] text-[#FFEAD0] text-center font-semibold py-[8px] border-transparent rounded-[5px] cursor-pointer capitalize;
}




